.vscode/**
node_modules/**
src/**
scripts/**
coverage/**/*
pages/**/*
.gitlab/**/*
docs/**


.editorconfig
.eslintignore
.eslintrc.cjs
.gitignore
.ls-lint.yml
.npmrc
.prettierignore
tsconfig.vite-config.json
vsc-extension-quickstart.md
pnpm-lock.yaml
.gitlab-ci.yml

**/tsconfig.json
**/*.map
**/*.ts
